*, *::after, *::before {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: hsl(240, 3%, 7%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  font-size: clamp(.5rem, 2.5vmin, 1.5rem);
  color: #fefefe;
}

a {
  color: #808080;
}

input {
  display: block;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: 0;
  border-radius: 50px;
  font-size: inherit;
  text-align: center;
  outline: 0;
  box-shadow: 0 0 0 4px rgb(255 255 255 / 40%), 0 3px 18px -5px rgb(0 0 0 / 20%);
}

input:disabled {
  color:white;
}

#shareLink {
  width: 30em;
}

footer {
  position: fixed;
  text-align: right;
  width: 100%;
  padding: 0 1rem;
  bottom: 0;
}

footer a {
  display: inline-block;
  color: inherit;
  background: rgba(255, 255, 255, 0.4);
  padding: .5rem 1rem;
  border-radius: 50px;
  margin: 1rem;
  text-decoration: none;
}

#game {
  display: none;
}

#controls {
  display: none;
}

#info {
  display: none;
}

button {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 0.5em 1.5em;
  font: inherit;
  color: #42393d;
  display: block;
  margin-bottom: 1rem;
}

footer a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.panel {
  width: 85%;
  margin: auto;
}

.panel__header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.bubble {
  border-radius: 25px;
  margin: 1rem;
  background: rgba(255, 255, 255, 0.4);
  padding: 0.5rem;
}

.bubble.highlight {
  background: hsl(
    var(--hue, 115),
    var(--saturation, 29%),
    var(--lightness, 43%)
  )
}

.panel__label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  color: rgba(255,255,255,.5);
  text-align: left;
  font-weight: 500;
  margin: .35rem 0;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: .25em;
  justify-content: center;
}

.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
  );
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: .25em;
  cursor: pointer;
  user-select: none;
}

.key.large {
  grid-column: span 3;
}

.key > svg {
  width: 1.75em;
  height: 1.75em;
}

.key:hover, .key:focus {
  --lightness-offset: 10%;
}

.key.wrong {
  --lightness: 23%;
}

.key.wrong-location {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}

.key.correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}

.combined-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#time {
  margin: 2em;
}

.guess-grid {
  display: grid;
  /* justify-content: center; */
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: .25em;
  margin-bottom: 1em;
}

.tile {
  font-size: 2em;
  color: white;
  border: .05em solid hsl(240, 2%, 23%);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
}

.tile[data-state="active"] {
  border-color: hsl(200, 1%, 34%);
}

.tile[data-state="wrong"] {
  border: none;
  background-color: hsl(240, 2%, 23%);
}

.tile[data-state="wrong-location"] {
  border: none;
  background-color: hsl(49, 51%, 47%);
}

.tile[data-state="correct"] {
  border: none;
  background-color: hsl(115, 29%, 43%);
}

.tile.shake {
  animation: shake 250ms ease-in-out;
}

.tile.dance {
  animation: dance 500ms ease-in-out;
}

.tile.flip {
  transform: rotateX(90deg);
}

.tile.confirmed {
  background-color: hsl(240, 5%, 42%)
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }

  30% {
    transform: translateX(5%);
  }

  50% {
    transform: translateX(-7.5%);
  }

  70% {
    transform: translateX(7.5%);
  }

  90% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }  

  40% {
    transform: translateY(5%);
  }  

  60% {
    transform: translateY(-25%);
  }  

  80% {
    transform: translateY(2.5%);
  }  

  90% {
    transform: translateY(-5%);
  }  

  100% {
    transform: translateY(0);
  }
}

.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: .75em;
  border-radius: .25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: .5em;
}

/* .alert.end {
  background-color: hsl(240, 3%, 18%);
} */

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}