
{% extends "layout.html" %}
{% block title %} WhoDaMan - Admin {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">WhoDaMan</h1>
        <form id="start">
            <input id="room" class="form-control" type="text" placeholder="Game Name"/>
        </form>
        <p class="lead">Create a game for your friends to join!</p>
    </div>
    <div id="panel" style="display: none; width: 85%; margin: auto;">
        <div id="header" style="width: 100%; display: flex; justify-content: space-between; align-items: flex-start;">
            <h1 class="display-3">WhoDaMan</h1>
            <input id="shareLink" class="form-control" type="text" placeholder="room name here" readonly="">
            <div>
                Buzzes -- <span id="roomCount"></span>
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">Instructions</div>
            <div class="card-body">
                <p class="card-text">Do the things.</p>
            </div>
        </div>
        <button id="begin" type="button" class="btn btn-primary">Start</button>
        <button id="reset" type="button" class="btn btn-primary" style="display: none;">Reset</button>
        <ul id="buzzes"></ul>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/admin.js"></script>
{% endblock %}