{% extends "layout.html" %}
{% block title %} Ouijordle {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1><a href="/static/kyle.png">Ouijordle</a></h1>
    <p>What if <a href="https://reddit.com/r/AskOuija">r/AskOuija</a> and <a href="https://www.nytimes.com/games/wordle/index.html">Wordle</a> had a child?</p>
    <p>Guess the <strong><a href="/static/ouijortsle.png">OUIJORDLE</a></strong> in six guesses with up to four of your friends.</p>
    <p>Each player silently enters one letter in turn to form their guess. The only words players can say are <strong>YES</strong>, <strong>NO</strong>, and <strong>GOODBYE</strong>.</p>
    <p>Players have 2 minutes to complete the <strong>OUIJORDLE</strong>, but each guess adds 20 seconds.</p>
    <p>If a guess is not a valid word, it does not count as a guess. However, it still uses clock time.</p>
    <span>Join a room:
        <form id="start">
            <input id="room" type="text" placeholder="Room ID"/>
        </form>
    </span>
    <footer>
        <a href="https://github.com/nathanielbd/whodaman/tree/ouijordle">Source code</a>
        <a href="/admin">Create a room</a>
    </footer>
{% endblock %}
{% block scripts %}
    <script src="/static/landing.js"></script>
{% endblock %}